{% extends 'base.html' %}
{% block body %}
<div class="form-class">

    <h1>Register</h1>

    <form action="" method="POST" class="register-form">
        
        {% csrf_token %}

        {{ form.username.errors }}
        {{ form.username.label }}
        {{ form.username }}


        {{ form.first_name.errors }}
        {{ form.first_name.label }}
        {{ form.first_name }}

        
        {{ form.last_name.errors }}
        {{ form.last_name.label }}
        {{ form.last_name }}

        {{ form.email.errors }}
        {{ form.email.label }}
        {{ form.email }}


        {{ form.password1.errors }}
        {{ form.password1.label }}
        {{ form.password1 }}

        {{ form.password2.errors }}
        {{ form.password2.label }}
        {{ form.password2 }}
        <input type="submit" value="Register" id="registerbtn">
    </form>


</div>
{% endblock %}